<page-header content="vm.pageHeader"></page-header>
<div class="row">
    <div class="col-xs-12 col-md-9">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <p class="rating" rating-stars rating="vm.data.location.rating"></p>
                <p>{{ vm.data.location.address }}</p>
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">
                        <h4 class="card-title">Opening hours</h4>
                    </div>
                    <div class="card-body">
                        <p ng-repeat="time in vm.data.location.openingTimes" ng-switch is true just on="time.closed">
                            {{ time.days }} :
                            <span class="opening-time" ng-switch-when="true">closed</span>
                            <span class="opening-time" ng-switch-default>{{ time.opening + " - " + time.closing }}</span>
                        </p>
                    </div>
                </div>
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">
                        <h4 class="card-title">Facilities</h4>
                    </div>
                    <div class="card-body">
                        <span class="badge badge-pill badge-warning" ng-repeat="facility in vm.data.location.facilities">
                            <span class="glyphicon glyphicon-ok"></span>
                            {{ facility }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 location-map">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">
                        <h4 class="card-title">Location map</h4>
                    </div>
                    <div class="card-body">
                        <img src="http://maps.googleapis.com/maps/api/staticmap?center={{vm.data.location.coords[1] }},{{ vm.data.location.coords[0]
    }}&amp;zoom=17&amp;size=400x350&amp;sensor=false&amp;markers={{
    vm.data.location.coords[1] }},{{ vm.data.location.coords[0]
    }}&amp;scale=2" class="img-responsive img-rounded">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Customer reviews</h4>
                <div class="card bg-light" ng-repeat="review in vm.data.location.reviews | orderBy:'createdOn':true">
                    <div class="card-header">
                        <h4>{{ review.author }}</h4>
                        <span rating-stars rating="review.rating"></span>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <small>{{ review.createdOn | date : 'd MMMM yyyy'}}</small>
                                <span>{{review.reviewText}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" ng-click="vm.popupReviewForm()" class="btn btn-primary pull-right">Add review</a>
                <button type="button" class="btn btn-default" ng-click="vm.popupReviewForm()">Open me!</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <p class="lead">{{ vm.data.location.name }} is on Loc8r because it has accessible wifi and space to sit down with your laptop and
            get some work done.
        </p>
        <p>If you've been and you like it - or if you don't - please leave a review to help other people just like you.</p>
    </div>
</div>