extends layout

block content
    form
      fieldset
        .form-group
          label Name
          input#name.form-control(type='text', placeholder='Enter Your Name')
        .form-group
          label Example select
          select#rate.form-control
            option 1
            option 2
            option 3
            option 4
            option 5
        .form-group
          label(for='text') Review
          textarea#review.form-control(rows='3')
      button.btn.btn-secondary(type='submit') Submit