doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/flatly/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  body 
    .navbar.navbar-expand-lg.navbar-dark.bg-dark
     .container     
      a.navbar-brand(href='/') Nour's Loc8er
      button.navbar-toggler(type="button" ,data-toggle="collapse" ,data-target="#navbarColor01", aria-controls="navbarColor01", aria-expanded="false" ,aria-label="Toggle navigation" ,style="")
       span.navbar-toggler-icon
      .collapse.navbar-collapse(id='navbarColor01')
       ul.navbar-nav.mr-auto
        li.nav-item
         a.nav-link(href='/about/') About
    .container
     block content

     footer
      .row
       .col-xs-12
        small &copy; Nour Ahmed 2018
    
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' crossorigin='anonymous')
